/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/01/2020, 15:26:57
    Author     : carla
*/

#mainNav .navbar-nav .nav-item .nav-link {
color: #121212;
/*color: rgba(255, 255, 255, 0.7);*/

}
#mainNav .navbar-nav .nav-item .nav-link:hover{
       color: #f4623a;
    background-color: inherit;
      text-decoration:none;
}

