/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/01/2020, 15:26:57
    Author     : carla
*/
#logo{
        width: 100px;
    }

#meet-the-team .designation {
    margin-top: 5px;
    display: block;
    font-size: 13px;
}

.curriculo{
    font-size: 0.8em;
}
.links{
    color: #f4623a;
    background-color: inherit;
    border:0px;
}
.links:active, 
.links:hover{
    color: #f4623a;
    background-color: inherit;
    text-decoration:none;
}
.margim-top-20{
    margin-top: 20px;
}
.page-section-header {
    padding: 2rem 0;
}
.page-link{
    /*padding: 1rem 0;*/
}
.titulo{

}
#mainNav .navbar-nav .nav-item .nav-link {
    /*color: #6C757D;*/
    color: rgba(255, 255, 255, 0.7);

}


.link-fotos {
    /*    color:white;*/
    height: 20px;
    padding-right: 20px;
    /*float: right;*/
    margin-right: 20px;

}
a.link-fotos {
    color:white;
}


#portfolio .fotos {
    content: "+";
    /*transform: rotate(90deg);*/
    font-size: 48px;
    color: black;
    position: relative;
    float: right;
    top: -70px;
    /*left: -20px;*/
    margin-right: 20px;
    background-color:white;
    border-radius: 50%;
    width:48px;
    height:48px;
    text-align:center;
    line-height:48px;
    z-index:12;
}

@media only screen and (max-width: 650px) {
    #logo{
        width: 60px;
    }
    .titulo{
       font-size: 0.8em;
       /*color: red;*/
           
    }
    #mainNav .navbar-nav .nav-item .nav-link {
color: #121212;
/*color: rgba(255, 255, 255, 0.7);*/

}
#mainNav .navbar-nav .nav-item .nav-link:hover{
       color: #f4623a;
    background-color: inherit;
      text-decoration:none;
}
    
}

/*Postagens*/
.b-0 {
    bottom: 0;
}
.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.top-indicator {
    right: 0;
    top: 1rem;
    bottom: inherit;
    left: inherit;
    margin-right: 1rem;
}
.overflow {
    position: relative;
    overflow: hidden;
}
.zoom img {
    transition: all 0.2s linear;
}
.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}