
/*----------quiz.css---------------*/
.quiz{
     
}

.quiz .loanParamsLoader {
    top: 143px;
    margin: auto;
    position: absolute;
    right: 17%;
    width: 135%;
}
.quiz .question{
    background: #ffc107;
    padding: 5px 0 5px 40px;
    color: #fff;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 45px;
}

.quiz #qid{
    
    min-width: 30px;
    float: left;
    margin-right: 22px;
    background-color: #ffffff;
    color: #333;
}
.quiz .container ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.quiz ul li{
  color: #333;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #111111;
}

.quiz ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.quiz ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.1em;
  padding: 5px 5px 5px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.quiz ul li:hover label{
    color: #ffc107;
}

.quiz ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #333;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 20px;
  left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.quiz ul li:hover .check {
  border: 5px solid #ffc107;
}

.quiz ul li .check::before {
  display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 1px;
    left: 1px;
  margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.quiz input[type=radio]:checked ~ .check {
  border: 5px solid #ffc107;
}

.quiz input[type=radio]:checked ~ .check::before{
  background: #ffc107;/*attr('data-background');*/
}

.quiz input[type=radio]:checked ~ label{
  color: #ffc107;
}

#tb-result{
    border: 1px solid #ffc107;
    
}
#result-of-question th{
  /*text-align: center;*/
    background: #ffc107;
    color: #fff;
    /*padding: 18px;*/
    /*font-size: 18px;*/
    /*border: none;*/
}
#result-of-question  td{
/*  text-align: center;
    color: #222;
    background-color: #fff;
    padding: 18px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #ffc107;*/
}

#totalCorrect-title{
    color: #333;
     padding: 5px 20px;
/*    background: #ffc107;
    padding: 5px 20px;
    border-radius: 1px;
    font-stretch: expanded;*/
    font-size: 22px;
    font-weight: bold;
/*    border-top-right-radius: 25px;
    border-top-left-radius: 25px;  */
}
#totalCorrect{
    color: #FFF;
    background: #ffc107;
    padding: 5px 20px;
    border-radius: 1px;
    font-stretch: expanded;
    font-size: 32px;
    font-weight: bold;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;  
}
#alert{
    /* Position fixed */
    position:fixed;
    /* Center it! */
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
/*----------riple bubble-----------------*/
.quiz ul {
    margin: 0 auto;
}
/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.quiz .ink {
    display: inline; 
    position: absolute;
    background: #ffc107;
    border-radius: 100%;
    transform: scale(0);
}
/*animation effect*/
.quiz .ink.animate {animation: ripple 0.65s linear;}
@keyframes ripple {
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    100% {opacity: 0; transform: scale(2.5);}
}
