/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/10/2020, 12:56:53
    Author     : kkpri
*/
.container{
    /*padding-top: 50px;*/
}

#messagebox{
    border: solid 1px #cecece;
    min-height: 100px;
    color: #4B515D;
}

#messagebox.success{
    border: solid 1px #00C851;
    border-left: solid 4px #00C851;
}

#messagebox.fail{
    border: solid 1px #ff4444;
    border-left: solid 4px #ff4444;
}

#messagebox.warning {
    border: solid 1px #ffbb33;
    border-left: solid 4px #ffbb33;
}

#messagebox-icon{
    padding: 1em;
}

#messagebox-detail-link{
    margin-left: 1em;
    margin-right: 1em;
    position: relative;
    right: 0;
}

#messagebox-header{
    padding-left: 0.6em;
}

#expanded-status{
    border: solid 1px black;
}
