/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/01/2020, 15:26:57
    Author     : carla
*/

#meet-the-team .designation {
  margin-top: 5px;
  display: block;
  font-size: 13px;
}