<template></template>

<script>
export default {
    // propriedades do component
    props: {
        paginationBox: { //pagination-box é o seletor do box com o conteúdo paginado
            required: true // ele é obrigatório
        },
        src: {
            default: ''
        },
        margin: { // margin define a margem inferior para saber quando carregar mais conteúdo
            default: 0 // é opcional, então o valor padrão é zero
        } // com margin 0, a requisição ajax só dispara quando a rolagem da página encostar no component
    },
    data() {
        return {
            currentPage: 1, // contador de página
            onLoad: false // se estamos carregando conteúdo ou não
        }
    },
    methods: {
        load(url, element) {
          // aqui vamos carregar o conteúdo da próxima página
          // e pegar somente o html do elemento informado em
          // infinite-scroll
// pego o conteúdo da página via ajax
    return fetch(url).then((res) => {
   
     // transformo em texto
        return res.text();
    }).then((data) => {
        // a variável data contém o valor de res.text()
        // eu pego a posição da tag box
       
 let slicex = data.indexOf("<body");
        // separei o > de fechamento para garantir que o body seja encontrado
        // mesmo se existir algum atributo na tag de abertura
      
  slicex = data.indexOf(">", slicex);    
        // pego a posição da tag de fechamento do body

        const slicey = data.lastIndexOf("</body>"); 
        // e com as posições definidas eu extraio apenas o conteúdo do body

        const content = data.slice(slicex + 1, slicey);

        // crio um body "virtual"
        const body = document.createElement("body");
        // adiciono o conteúdo extraédo
        body.innerHTML = content;

        // e pego apenas o html do elemento definido no seletor
        const response = body.querySelector(element);

        // retorno se existir
        if (response) {
            return response.innerHTML;
        }
        // se não existir retorno nulo
        return null;
    })
        },
        getMore() {
         // vai disparar o método load e adicionar o conteúdo
         // no DOM dinâmicamente
// aqui eu vou adicionar mais conteúdo a página
    // incremento a página (se estiver na 1, vou pegar o valor da 2 e assim por diante)
    this.currentPage++;
   
 // informo que estou carregando informações
    this.onLoad = true;

    // executo o método load com os dados fornecidos pelos props do component
    this.load('?page=' + this.currentPage, this.paginationBox).then((data) => {

        // com posse do conteúdo da próxima página eu adiciono ao DOM
        const item = document.querySelector(this.paginationBox);
        item.innerHTML += data;
        // e informo que não estou mais carregando conteúdo
        this.onLoad = false;
    });
        },
        checkNeedMoreData() {
          // vai verificar se já podemos carregar ou não mais conteúdo
// aqui eu verifico se posso/preciso de mais conteúdo
    // primeiramente pego a posição do elemento de paginação na página
    let bottom = this.$el.getBoundingClientRect().bottom;
    
// desconto uma margem, para evitar ter que carregar só quando o usuário chegar ao fim
    // isso ajuda a melhorar a experiência e para o usuário nem perceber que você adicionou dinâmicamente
    bottom -= this.margin;
    
    // verifico se já chegamos no ponto especificado e se não estamos carregando algo
    return bottom <= window.innerHeight && !this.onLoad;
        }
    },
    mounted() {
        // se precisar de mais conteúdo
        if (this.checkNeedMoreData()) {
            // carregamos
            this.getMore();
        }
        
// quando rolarmos o scroll da página
        window.addEventListener('scroll', () => {
            // verificamos se precisa de mais conteúdo
            if (this.checkNeedMoreData()) {
                // se precisar, carregamos
                this.getMore();
            }
        });
    }
}
</script>
